.bites{
    /* background-color: aquamarine; */
    background-image: url(Assets/back3.jpeg);
    height: 80vh;
     background-size: cover; 
     /* text-align: center;   */
     color:black
}
#aboutus{
    background-color:black;
    color:white;
    margin-top: 10px;
    text-align: center;
    font-size: x-large;
    margin-bottom: 20px;
}
#menu{
    margin-top: 20px;
}

h1{
    text-align: center;
    font-size:xx-large;
    font-weight: bolder;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dashed;
}
.order{
    background-color:lightgray;
    margin-bottom: 5%;
}
.over{
    background-color:#212529;
    color: white;
    text-align: center;
    width: 250px;
    margin-left: 40%;
    margin-bottom: 5px;
}
#order1 {
    background-color:green !important;
    box-shadow: 0 0 10px grey;
    position:relative;
    left: -10%;
}

#order2 {
    background-color: green !important;
    box-shadow: 0 0 10px grey;
    position: relative;
    left: 45%;
    margin-top: 10px;
    
}
form{
    text-align: center;
    margin-left:15%;
}
